.FlexCenter {
  display: flex;
  justify-content: center;
}

.LoginForm {
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
